// css button, title, icon, elements...
img {
    max-width: 100%;
}
.footer-content h4 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: center;
    @media(max-width:768px) {
        font-size: 1.5rem;
    }
}
.foo-subtitle {
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}
.row13{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.social ul .facebook:before {
    content: '\f09a';
}
.social ul .twitter:before {
    content: '\f099';
}
.social ul .linkedin:before {
    content: '\f0e1';
}
.social ul li:before {
    font: 400 1em/50px FontAwesome;
}
.social ul .facebook:before{
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
}
.social ul .twitter:before{
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
}
.row14{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.social ul li {
    background: #5c54ff;
    border-radius: 50%;
    float: left;
    height: 50px;
    margin: 0 10px;
    width: 50px;
    cursor: pointer;
  
}
.social ul .linkedin:before{
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
}
.compo{
    padding-left: 50px;
    border-radius: 50px;
    @media(max-width:768px) {
        padding:20px
    }
}
.compo1{
    border-radius: 50px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;    
    padding: 10px;
    background: #ffffff ;
    color:  #5c54ff;
    cursor: pointer;
    border: 1px solid #5c54ff;
    text-align: center;
    &:hover{
        background:#5c54ff;
        color: #ffffff;
    }
}
.social ul .facebook:hover {
    background: #3b5998;
    
}
.social ul .twitter:hover {
    background: #00aced;
}
.social ul .linkedin:hover {
    background: #3b5998;
}   
.social ul li:hover,.social ul li:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }